<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showUserTexts</key>
	<false/>
	<key>UserTexts</key>
	<array>
		<dict>
			<key>TextID</key>
			<integer>0</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string></string>
		</dict>
	</array>
	<key>CommonTexts</key>
	<array>
		<dict>
			<key>TextID</key>
			<integer>1</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Love ya!</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>2</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Hey</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>3</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Drive safe.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>4</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Ok.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>5</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>You&apos;re welcome.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>6</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>See you later.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>7</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Bye.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>8</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Yes, sir.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>9</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>No, sir.</string>
		</dict>
		<dict>
			<key>TextID</key>
			<integer>10</integer>
			<key>Uses</key>
			<integer>0</integer>
			<key>FirstUsed</key>
			<date>2011-02-02T20:04:55Z</date>
			<key>LastUsed</key>
			<date>2011-02-02T20:05:10Z</date>
			<key>Text</key>
			<string>Thanks!</string>
		</dict>
	</array>
</dict>
</plist>
